<div class="container-fluid">
  <h1 class="title"><%= @post.title %></h1>

  <p class="date">
    Submmited <%= time_ago_in_words(@post.created_at) %> Ago
    <% if user_signed_in? %>
       | <%= link_to("edit", edit_post_path(@post))%>
      <% if current_user == @post.user %>
       | <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}%>
      <% end %>
    <% end %>
  </p>

  <p class="body"><%= @post.body %></p>

  <div id="comment">
    <h4><%= @post.comments.count %> Comments</h4>
    <%= render @post.comments %>

    <h3> Add a comment</h3>
    <%= render "comments/form"%>
  </div>
</div>
